.body{
    background: url(Profile.jpeg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.loginbox{
    width: 420px;
    height: 520px;
    background: #000;
    color: #fff;
    position: absolute;
    box-sizing: border-box;

}
h1{
    margin: 0%;
    padding: 0 0 20px;
    font-size: 22px;
    text-align: center;

}


.loginbox input[type="text"],input[type="password"],input[type="email"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color:#fff;
    font-size: 18px;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    color:#000;
}